/*@start flex*/
.flex {
    display: flex;
}
/*@end flex*/

/*@start flex column*/
.flex-column {
    flex-direction: column;
}
/*@end flex column*/

/*@start space-around*/
.space-around {
    justify-content: space-around;
}
/*@end space-around*/

/*@start space between*/
.space-between {
    justify-content: space-between;
}
/*@end space between*/

/*@start align items center*/
.align-items-center {
    align-items: center;
}
/*@end align items center*/
