@use "/src/styles/variables";

/*@start grid*/
.grid {
    width: 100%;
}

@media only screen and ( min-width: variables.$break-point) {
    .grid {
        margin: 0 auto;
        max-width: 68vw;
    }
}
/*@end grid*/
