@use "/src/styles/variables";

/*@start section*/
.section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    padding: variables.$vertical-spacing;
}
/*@end section*/
