@use "/src/styles/variables";

/*@start btn*/
.btn {
    display: inline-block;
    text-transform: uppercase;
    padding: 5px variables.$default-padding;
    border-radius: variables.$border-radius-xs;
    transition: background-color variables.$default-transition;
    border-width: 2px;
    border-style: solid;
}
/*@end btn*/

/*@start btn-primary*/
.btn.btn-primary {
    color: var(--tertiary-font-color);
    background-color: var(--primary-accent-color);
    border-color: var(--primary-accent-color);
}

.btn.btn-primary:hover {
    background-color: transparent;
    color: var(--primary-accent-font-color);
}
/*@end btn-primary*/

/*@start btn-secondary*/
.btn.btn-secondary {
    color: var(--tertiary-font-color);
    background-color: var(--secondary-accent-color);
    border-color: var(--secondary-accent-color);
}

.btn.btn-secondary:hover {
    background-color: transparent;
    color: var(--secondary-accent-font-color);
}
/*@end btn-secondary*/

/*@start btn-group*/
.btn-group > li {
    display: inline-block;
}
.btn-group > li:not(:last-child) {
    padding-right: variables.$default-padding;
}
/*@end btn-group*/

/*@start btn-compact*/
.btn.btn-compact {
    padding: 5px 10px;
}
/*@end btn-compact*/




