// single breakpoint for all devices
$break-point: 1440px;

// for extra stylised typography, like xxl headers or branding
$letter-spacing: 4px;

// default padding for consistency between elements
$default-padding: 20px;

// adjust for more ( or less ) overall whitespace for a less cluttered first impression
$vertical-spacing: 60px 0;

$border-radius-xs: 5px;
