@use "/src/styles/variables";

/*@start body*/
body {
    color: var(--primary-font-color);
    font-size: 18px;
    font-family: Helvetica, sans-serif;
}

@media only screen and ( min-width: variables.$break-point) {
    body {
        font-size: 16px;
    }
}
/*@end body*/

/*@start headings*/
h1, h2, h3, h4 {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

h2.subtitle,
h3.subtitle,
h4.subtitle {
    letter-spacing: variables.$letter-spacing;
}
/*@end headings*/

/*@start p*/
p {
    line-height: 2rem;
    font-weight: 100;
}
/*@end p*/

/*@start font xl*/
.font-xl {
    font-size: 5em;
    font-weight: 800;
    letter-spacing: variables.$letter-spacing;
    margin: initial;
}

@media only screen and ( min-width: variables.$break-point) {
    .font-xl {
        font-size: 15em;
    }
}
/*@end font xl*/

/*@start a*/
a {
    font-family: "Montserrat", sans-serif;
    color: var(--secondary-font-color);
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: color variables.$default-transition;
    -o-transition: color variables.$default-transition;
    transition: color variables.$default-transition;
}
/*@end a*/

/*@start font weights*/
.font-light { font-weight: 300; }
.font-regular { font-weight: 400; }
.font-medium { font-weight: 500; }
.font-semi-bold { font-weight: 600; }
.font-bold { font-weight: 700; }
.font-extra-bold { font-weight: 800; }
.font-black { font-weight: 900; }
/*@end font weights*/
